#btn-back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

ul.about {
    padding-left: 0;
    text-indent: -12px;
}


li.about:before {
    content: "-";
    padding-right: 5px;
    color: #9FA6B2;
    
}


ul li {
    list-style: none;
}

/* .custom-mark {
    color: #ff1744;
    font-size: 18px;
} */
